
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# Bỏ qua thư mục cache của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua thư mục cache
.cache/